streamlit
pandas
numpy
yfinance
tensorflow==2.15.1
keras==2.15.0
transformers
textblob
plotly
spacy
nltk
ta
scikit-learn
gdown
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
